
.navbar{
    overflow: hidden;
    width: 1200px;
    height: 80px;
    margin: auto;
}

.navbar-header{
    width: 100%;
}

.logo{
    scale: 0.7;
    float: left;
    height: 70px;
    filter: saturate(180%);
    border-radius: 50px;
}
.menu{
    float: left;
    height: 70px;
    width: fit-content;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 15px;
    font-size: 16px;
    
    
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: 'Nunito';
    font-weight: bold;
    transition: 0.4s ease-in-out;
    
}

ul li a:hover{
    color: #ff7200;
}

.usericon{
    margin-top: 25px;
    scale: 2;
    padding-right: 10px;

}

.admin{
    margin-left: 400px;
}

.user{
    margin-left: 600px;
}

.dropdown {
    overflow: hidden;      
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding-bottom: 10px;
    background-color: inherit;
    font-family: 'Nunito'; 
    font-weight: bold;
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #292626;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    color: #ff7200;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }